:root {
  --primary-bg: #18181b;
  --primary-input: #27272a;
  --primary-sia: #fdd835;

  --border: #3f3f46;
  --border-hover: #99a3ba;
  --text-color: #f1f5f9;
  /* --text-color-dark: #3f4656; */

  --shadow: rgba(22, 30, 50, 0.04);
}

body {
  padding: 0;
  background-color: var(--primary-bg);
  font-family: "Poppins", sans-serif;
  color: white;
  width: 400px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 0.8rem;
  padding: 0 10px 1rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 50px;
  height: 50px;
}

#title {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 600;
  background-color: var(--primary-bg);
  color: var(--text-color);
  border-radius: 5%;
}

.sia {
  color: var(--primary-sia);
}

.tutorial {
  display: block;
  font-size: 18px;
  color: var(--primary-sia);
  text-align: center;
  margin-bottom: 1rem;
}

.label {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
  color: var(--primary-sia);
}

.form-field {
  --color: var(--primary-1);
  outline: none;
  display: block;
  width: 100%;
  -webkit-appearance: none;
  background: var(--primary-input);
  border: 1px solid var(--border);
  padding: 8px 16px;
  line-height: 22px;
  font-size: 14px;
  font-weight: 500;
  color: var(--text-color);
  border-radius: 6px;
  transition: border 0.3s ease;
}

.form-field::placeholder {
  color: var(--border-hover);
}

.form-field:focus {
  outline: none;
  border-color: var(--color);
}

#saran {
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  height: 100px;
  font-size: 0.9rem;
  font-weight: normal;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  background: var(--primary-input);
  color: var(--text-color);
}

#saran:focus {
  outline: var(--border) solid 2px;
}

ol {
  box-sizing: border-box;
  font-size: 0.9rem;
  list-style-position: inside;
}

.rating-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--primary-input);
  padding: 1rem;
  border-radius: 10px;
}

.rating-wrapper {
  display: flex;
  gap: 1.5rem;
  margin-top: 5px;
}

.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.rating-subtitle {
  font-size: 0.9rem;
  color: var(--text-color);
}

input[type="radio"] {
  width: 16px;
  height: 16px;
  margin: 0;
  accent-color: var(--primary-sia);
}

.label-rating {
  font-size: 0.9rem;
}

#run {
  background-color: var(--primary-sia);
  border: none;
  padding: 8px 30px;
  margin-bottom: 8px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: 1;
  color: var(--primary-bg);
}

#run:hover {
  background-color: #fdd835d4;
}

#run:disabled,
#run[disabled] {
  background-color: #fdd835d4;
}

.info {
  display: none;
  color: red;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.owner {
  font-size: 0.8rem;
  text-align: center;
  color: var(--text-color);
}

.owner-link {
  font-size: 0.8rem;
  color: var(--primary-sia);
}
